wcf/Invoke/Connected Services/CustomerServiceReference/CustomerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.galasoft.ch" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.galasoft.ch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.galasoft.ch/Imports">
      <xsd:import schemaLocation="http://localhost:50779/CustomerService.svc?xsd=xsd0" namespace="http://www.galasoft.ch" />
      <xsd:import schemaLocation="http://localhost:50779/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50779/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Customers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByAccountNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByAccountNumber" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerByAccountNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomerLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerLastName" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomerLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerLastNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsam:Action="http://www.galasoft.ch/CustomerService/GetCustomers" message="tns:ICustomerService_GetCustomers_InputMessage" />
      <wsdl:output wsam:Action="http://www.galasoft.ch/CustomerService/GetCustomersResponse" message="tns:ICustomerService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByAccountNumber">
      <wsdl:input wsam:Action="http://www.galasoft.ch/CustomerService/GetCustomerByAccountNumber" message="tns:ICustomerService_GetCustomerByAccountNumber_InputMessage" />
      <wsdl:output wsam:Action="http://www.galasoft.ch/CustomerService/GetCustomerByAccountNumberResponse" message="tns:ICustomerService_GetCustomerByAccountNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsam:Action="http://www.galasoft.ch/CustomerService/GetAllCustomers" message="tns:ICustomerService_GetAllCustomers_InputMessage" />
      <wsdl:output wsam:Action="http://www.galasoft.ch/CustomerService/GetAllCustomersResponse" message="tns:ICustomerService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <wsdl:input wsam:Action="http://www.galasoft.ch/CustomerService/SaveCustomer" message="tns:ICustomerService_SaveCustomer_InputMessage" />
      <wsdl:output wsam:Action="http://www.galasoft.ch/CustomerService/SaveCustomerResponse" message="tns:ICustomerService_SaveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomerLastName">
      <wsdl:input wsam:Action="http://www.galasoft.ch/CustomerService/SaveCustomerLastName" message="tns:ICustomerService_SaveCustomerLastName_InputMessage" />
      <wsdl:output wsam:Action="http://www.galasoft.ch/CustomerService/SaveCustomerLastNameResponse" message="tns:ICustomerService_SaveCustomerLastName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>