wcf/Invoke/Connected Services/CustomerServiceReference/CustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Customers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="AddressCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:CustomerGender" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureUri" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:simpleType name="CustomerGender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
      <xs:enumeration value="Boy" />
      <xs:enumeration value="Girl" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerGender" nillable="true" type="tns:CustomerGender" />
</xs:schema>